@charset "utf-8";


#game-content {
    background: url('../images/bg.jpg') no-repeat;
}



.game_4_1_2_normal .quiz-con .quiz-wrap .quiz:nth-child(2) .quiz-example-wrap{
    height: 345px;
}

.game_4_2_1_easy .quiz-con .quiz-wrap .quiz:nth-child(3) .list-con .list{
    height: 123px;
}

.game_4_2_1_hard .quiz-con .quiz-wrap .quiz:nth-child(1) .quiz-example-wrap,
.game_4_2_1_hard .quiz-con .quiz-wrap .quiz:nth-child(2) .quiz-example-wrap{
    height: 270px;
}