@charset "utf-8";
.mt0{
    margin-top: 0 !important;
}
body{
    font-family: "NanumGothic";
}

.quiz-con .quiz-wrap .quiz{
    height: 593px;
    padding: 26px 20px;
    position: relative;
    color: #1E1E1E;
}
.quiz-con .example-write-box{
    display: inline-block;
    width: 54px;
    height: 54px;
    border-radius: 10px;
    border:3px solid #dbdbdb;
    vertical-align: top;
    background: #fff;
    margin: 0 4px;
    position: relative;
    top:-2px
}
.quiz-con .example-circle-box{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 4px;
    border-radius: 50%;
    vertical-align: top;
    position: relative;
    top: -4px;
    background: #EEEEEE;
}
.quiz-con .num_circle{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-weight: 800;
    font-size: 34px;
    color: #fff;
    background: #3B71AA;
    text-align: center;
    line-height: 45px;
    display: inline-block;
}

.quiz-con .ico-img{
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px;
}
.quiz-con .ico-img img{
    display: inline-block;
    vertical-align: middle;
}
.quiz-con .ico_o{
    display: inline-block;
    width: 46px;
    height: 52px;
    text-indent: -9999em;
    overflow: hidden;
    background: url('../images/ico_o.png') no-repeat center top;
    background-size: 46px;
    vertical-align: top;
}
.quiz-con .ico_x{
    display: inline-block;
    width: 46px;
    height: 52px;
    text-indent: -9999em;
    overflow: hidden;
    background: url('../images/ico_x.png') no-repeat center top;
    background-size: 46px;
    vertical-align: top;
}
.quiz-con .fraction{
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    text-align: center;
}
.quiz-con .fraction .inline{
    display: inline-block;
    vertical-align: middle;
    font-size: 45px;
    min-width: 38px;
}
.quiz-con .fraction .inline .num_circle{
    margin-right: 20px;
}
.quiz-con .fraction .ver{
    display: block;
}
.quiz-con .fraction .ver:last-child{
    border-top: 3px solid #1E1E1E;
    padding-top: 4px;
}
.quiz-con .quiz-wrap .quiz .quest{
    position: relative;
    padding-left: 44px;
    font-weight: 800;
    font-size: 45px;
    margin-left: 16px;
    letter-spacing: -1px;
}
.quiz-con .quiz-wrap .quiz .quest .quiz-num{
    display: inline-block;
    width: 34px;
    height: 46px;
    font-size: 38px;
    color: #fff;
    background: #F06C2C;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
    line-height: 46px;
    position: absolute;
    top: 0;
    left: 0;
}
.quiz-con .quiz-wrap .list-con{
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0;
}
.quiz-con .quiz-wrap .input-inset{
    padding-left: 210px;
}
.quiz-con .quiz-wrap .input-inset input[type="text"]{
    width: 176px;
    height: 83px;
    background: #fff;
    border:3px solid #dbdbdb;
    border-radius: 16px;
    vertical-align: middle;
    text-align: center;
    line-height: 83px;
    font-size: 45px;
    color: #1E1E1E;
    font-weight: 700;
    
}
.quiz-con .quiz-wrap .input-inset .txt{
    display: inline-block;
    height: 83px;
    font-size: 45px;
    font-weight: 700;
    vertical-align: middle;
    line-height: 83px;
    padding: 0 20px 0 10px;
}
.quiz-con .quiz-wrap .input-inset .enter-btn{
    display: inline-block;
    width: 151px;
    height: 64px;
    background: url('../images/btn.png') no-repeat left top;
    overflow: hidden;
    text-indent: -99999em;
    vertical-align: middle;
}
.quiz-con .quiz-wrap .input-inset .enter-btn:hover{
    background-position: left bottom;
}
.quiz-con .quiz-wrap .list-con.type2{
    bottom: 30px;
}
.quiz-con .quiz-wrap .list-con.type3{
    bottom: 10px;
}
.quiz-con .quiz-wrap .list-con.type4{
    bottom: 20px;
}
.quiz-con .quiz-wrap .list-con .list{
    position: relative;
    display: inline-flex;
    width: 176px;
    height: 83px;
    font-size: 45px;
    background: #EEEEEE;
    border-radius: 14px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: 0 7px;
    vertical-align: top;
    line-height: 100%;
    cursor: pointer;
}
.quiz-con .quiz-wrap .list-con .list.multiline{
    font-size: 33px;
}
.quiz-con .quiz-wrap .list-con.len3 .list{
    width: 216px;
}
.quiz-con .quiz-wrap .list-con.len3-2 .list{
    width: 256px;
    font-size: 37px;
}
.quiz-con .quiz-wrap .list-con .list.active{
    background: #FFC1AF;
}
.quiz-con .quiz-wrap .list-con .list.active:after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, .7);
    border-radius: 5px;
}
.quiz-con .quiz-wrap .list-con.type-ox .list{
    width: 240px;
    height: 96px;
}
.quiz-con .quiz-wrap .list-con.type-img{
    bottom: 7px;
}
.quiz-con .quiz-wrap .list-con.type-img .list{
    height: 175px;
}
.quiz-con .quiz-wrap .list-con.type-ox .list span{
    display: inline-block;
    width: 66px;
    height: 73px;
    text-indent: -9999em;
    overflow: hidden;
    background: url('../images/ico_o.png') no-repeat center;
}
.quiz-con .quiz-wrap .list-con.type-ox .list:nth-child(2).active{
    background: #B8E9FF;
}
.quiz-con .quiz-wrap .list-con.type-ox .list:nth-child(2) span{
    background: url('../images/ico_x.png') no-repeat center;
}
.quiz-con .quiz-wrap .list-con.type-ox.text .list span{
    background-image: none;
    width: auto;
    height: auto;
    text-indent: 0%;
}
.quiz-con .quiz-wrap .quiz-example-wrap{
    height: 290px;
    border:5px solid #BBDECB;
    margin-top: 20px;
    font-size: 45px;
    color: #1e1e1e;
    display: flex;
    border-radius: 14px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    padding: 12px;
    position: relative;
}
.quiz-con .quiz-wrap .quiz-example-wrap .example-circle-box,
.quiz-con .quiz-wrap .quiz-example-wrap .example-write-box{
    vertical-align: middle;
}
.quiz-con .quiz-wrap .multiline .quiz-example-wrap,
.quiz-con .quiz-wrap .quiz-example-wrap.type2{
    height: 230px;
}
.quiz-con .quiz-wrap .quiz-example-wrap.type3{
    height: 285px;
    margin-top: 10px;
}
.quiz-con .quiz-wrap .quiz-example-wrap.type4{
    height: 325px;
    margin-top: 10px;
}
.quiz-con .quiz-wrap .quiz-example-wrap.type5{
    height: 355px;
}
.quiz-con .quiz-wrap .quiz-example-wrap .img-txt{
    display: flex;
    align-content: center;
}
.quiz-con .quiz-wrap .quiz-example-wrap .img-txt .txt{
    padding-left: 34px;
}
.quiz-con .quiz-wrap .quiz-example-wrap.al_l{
    justify-content: left;
}
.quiz-con .quiz-wrap .quiz-example-wrap .number-hor-al .hor{
    display: inline-block;
    margin: 0 25px;
}
.quiz-con .quiz-wrap .quiz-example-wrap .number-hor-al.type2 .hor{
    display: inline-block;
    margin: 0 30px;
}
