@charset "utf-8";


#game-content {
    background: url('../images/bg.jpg') no-repeat;
}

.forest {
    position: absolute;
    left:0;
    bottom:0;
    width: 168px;
    height: 200px;
    background: url('../images/forest.png') no-repeat;
}


/* quiz-ox */
.quiz-ox .list {
    cursor: pointer;
}
.quiz-ox .list.active {
    color: #f00;
}


/* quiz-choice */
.quiz-choice .list {
    cursor: pointer;
}
.quiz-choice .list.active {
    color: #f00;
}

/* quiz-input */
.quiz-input .enter-btn {
    cursor: pointer;
}