@charset "utf-8";


#game-content {
    background: url('../images/bg.jpg') no-repeat;
}

.forest {
    position: absolute;
    left:0;
    bottom:0;
    width: 168px;
    height: 200px;
    background: url('../images/forest.png') no-repeat;
}

.game_3_1_3_hard .quiz-con .quiz-wrap .quiz:nth-child(2) .list{
    font-size: 30px;
    width: 195px;
}
/* .game_3_1_3_hard .quiz-con .quiz-wrap .quiz:nth-child(2) .list.multiline{
    font-size: 30px;
} */

.game_3_2_5_normal .quiz-con .quiz-wrap .quiz:nth-child(3) .list{
    font-size: 33px;
    letter-spacing: -1px;
}
.game_3_2_5_hard .quiz-con .quiz-wrap .quiz:nth-child(1) .list{
    font-size: 35px;
    letter-spacing: -1px;
}
.game_3_2_5_hard .quiz-con .quiz-wrap .quiz:nth-child(2) .list{
    font-size: 35px;
    letter-spacing: -3px;
}