@charset "utf-8";


#game-content {
    background: url('../images/bg.jpg') no-repeat;
}

.game_4_1_1_hard .quiz-con .quiz-wrap .quiz:nth-child(2) .list-con,
.game_4_1_1_hard .quiz-con .quiz-wrap .quiz:nth-child(3) .list-con{
    bottom: 0;
}
.game_4_1_1_hard .quiz-con .quiz-wrap .quiz:nth-child(2) .list,
.game_4_1_1_hard .quiz-con .quiz-wrap .quiz:nth-child(3) .list{
    font-size: 40px;
    width: 316px;
    margin-top:3px;
    margin-bottom: 3px;
}


.game_4_1_4_easy .quiz-con .quiz-wrap .quiz:nth-child(3) .quiz-example-wrap{
    height: 355px;
}
.game_4_1_4_easy .quiz-con .quiz-wrap .quiz:nth-child(3) .list-con{
    bottom: 4px;
}

.game_4_1_4_hard .quiz-con .quiz-wrap .quiz:nth-child(2)  .quiz-example-wrap{
    height:325px;
    border-color: #d3c8e3;
}
.game_4_1_4_hard .quiz-con .quiz-wrap .quiz:nth-child(2)  .quiz-example-wrap .label{
    position:absolute;
    top:-22px;
    left:12px;
}

.game_4_1_4_hard .quiz-con .quiz-wrap .quiz:nth-child(1)  .quiz-example-wrap{
    height:270px;
}

.game_4_2_6_normal .quiz-con .quiz-wrap .quiz:nth-child(1) .list-con .list{
    font-size: 40px;
}

.game_4_2_6_hard .quiz-con .quiz-wrap .quiz:nth-child(2) .list-con .list{
    font-size: 40px;
}

.text-symbol{
    display: inline-block;
    position: relative;
    padding-right: 16px;
}
.text-symbol i{
    position: absolute;
    right: 0;
    top: 0;
    line-height: 100%;
}